<div class="col-xs-12">
  <h1 class="text-center">Workouts</h1>                                                               
</div>
                                                                                
<div class="col-xs-offset-3 col-xs-6">
  <table class="table table-bordered table-hover table-condensed">                                                                         
    <thead>                                                                       
      <tr>                                                                        
        <th>Start Time</th>                                                           
        <th>Push ups</th>                                                         
        <th>Squats</th>                                                           
      </tr>                                                                       
    </thead>                                                                      
                                                                                  
    <tbody>                                                                       
      <% @workouts.each do |workout| %>                                               
        <tr>                                                                      
          <td><%= workout.start_time.localtime.strftime("%Y-%m-%d %H:%M")%></td>                                          
          <td><%= workout.pushups %></td>                                         
          <td><%= workout.squats %></td>                                          
        </tr>                                                                     
      <% end %>                                                                   
    </tbody>                                                                      
  </table>                                                                        
</div>
                                                                                
                                                                                
<div class="text-center col-xs-12">
  <%= link_to 'New Workout', workouts_path, {method: :post, class: "btn btn-primary" }  %>  
</div>
