<p>                                                                             
  <strong>Pushups:</strong>                                                     
  <%= @workout.pushups %>                                                           
</p>                                                                            
                                                                                
<p>                                                                             
  <strong>Squats:</strong>                                                      
  <%= @workout.squats %>                                                        
</p>                                                                            
                                                                                
<%= link_to 'End workout', workouts_path %>
