<p>                                                                             
  <strong>Pushups:</strong>                                                     
  <div id="pushup_count">
    <%= @workout.pushups %>                                                           
  </div>
</p>                                                                            
                                                                                
<p>                                                                             
  <strong>Squats:</strong>                                                      
  <div id="squat_count">
    <%= @workout.squats %>                                                        
  </div>
</p>                                                                            
                                                                                
<%= link_to 'End workout', workouts_path %>
